<!DOCTYPE html>
<head>
  <script src="widget.bundle.js"></script>
</head>
<body>
  <div>1</div>
  <!-- <script>
    new Worker('');
  </script> -->
  <accessibility-widget wixconfig='{"data":{}}'/>
</body>
</html>