<!DOCTYPE html>
<body>
  <div>1</div>
  <script>
    new Worker('https://www.wix.com/_serverless/app-market-integrations/public/accessibilityWidget.bundle.js');
  </script>
  <accessibility-widget/>
</body>
</html>